.navbar-brand {
  color: #1e38ec;
}

.menu {
  & > .nav-item {
    .nav-link {
      color: #333333;
      font-size: 16px;
    }

    &:hover {
      .nav-link {
        color: #30d85b !important;

        &:before {
          background-color: #30d85b !important;
        }
      }
    }
  }
}

.slider_btn {
  border-radius: 8px;
}

.btn_six {
  background: #1e38ec;

  &:hover {
    background: #30d85b;
    color: #ffffff;
  }
}

.startup_content_three {
  h2 {
    color: #333333;
  }
}

p {
  &.home-banner-text {
    color: #666666 !important;
  }
}

.highway-car {
  padding-top: 10px;
  padding-bottom: 10px;

  .image-link {
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.position-r {
  height: 500px !important;
}

.bg_color {
  background: #f5f9ff;
}

.nav-link {
  white-space: nowrap;
}

.btn_six {
  white-space: nowrap;
}

.team-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

#lang-switcher {
  margin-left: 0 !important;
}

#demo-result {
  position: relative;
}

.demo-result-container {
  position: absolute;
  height: 8%;
  width: 11%;
  left: 2.5%;
  top: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#demo-result-value {
  margin: 0;
}
